/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*header-style*/



.logo-img{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    gap: 20px;
}

header{
    background-color: red;
    height: 90px;
    display: flex;
    justify-content: space-around;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 37px;
}



img{
    height: 45px;
}

/* buttom style*/

button{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    margin: 20px;
    gap: 10px;

}

.btn {
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;

    font-size: 17px;

    padding: 3px 40px;

  }